<div class="bg-white dark:bg-gray-800 p-8 rounded-md w-full">
    <div class="flex items-center justify-between pb-6">
        <div>
            <h2 class="text-gray-600 dark:text-gray-300 font-semibold">Faculty Coordinators</h2>
            <!-- <span class="text-xs text-gray-500 dark:text-gray-400">All products item</span> -->
        </div>
        <div class="flex items-center justify-between">

            <div class="lg:ml-40 ml-10 space-x-8">
                <!-- <button
                    class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer hover:bg-indigo-700">
                    New Report
                </button> -->
                <button routerLink="/add-company" *ngIf="commonService.getUserRole() == 'ADMIN'"
                    class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer hover:bg-indigo-700">
                    Add Faculty
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-600 text-left text-xs font-semibold text-gray-600 dark:text-gray-300 uppercase tracking-wider">
                                 Name
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-600 text-left text-xs font-semibold text-gray-600 dark:text-gray-300 uppercase tracking-wider">
                                Branch
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-600 text-left text-xs font-semibold text-gray-600 dark:text-gray-300 uppercase tracking-wider">
                                Email
                            </th>
                            <th *ngIf="commonService.getUserRole() == 'STUDENT'"
                                class="px-5 py-3 border-b-2 border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-600 text-left text-xs font-semibold text-gray-600 dark:text-gray-300 uppercase tracking-wider">
                                Eligible
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-600 text-left text-xs font-semibold text-gray-600 dark:text-gray-300 uppercase tracking-wider">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of companyList">

                            <tr class="bg-white dark:bg-gray-800" (click)="nagivteToCompanyProfile(item.id)">
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 text-sm">
                                    <div class="flex items-center cursor-pointer" (click)="nagivteToCompanyProfile(item.id)" >
                                        <div class="flex-shrink-0 w-10 h-10">
                                            <img class="w-full h-full rounded-full"
                                                src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-gray-900 dark:text-gray-200 whitespace-no-wrap">{{item.name}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 text-sm">
                                    <p class="text-gray-900 dark:text-gray-200 whitespace-no-wrap">{{item.expand.branch.name}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 text-sm">
                                    <p class="text-gray-900 dark:text-gray-200 whitespace-no-wrap">{{item.email}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 text-sm"
                                    *ngIf="commonService.getUserRole() == 'STUDENT'">
                                    <span
                                        class="relative inline-block px-3 py-1 font-semibold dark:text-green-200 text-green-900 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-green-200 dark:bg-green-800 opacity-50 rounded-full"></span>
                                        <span class="relative dark:text-green-200">YES</span>
                                    </span>
                                </td>
                                
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 text-sm">
                                    <button  (click)="editCompany(item.id)"
                                        *ngIf="commonService.getUserRole() == 'ADMIN'"
                                        class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer hover:bg-indigo-700">
                                        Edit
                                    </button>
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>
                <div
                    class="px-5 py-5 bg-white dark:bg-gray-700 border-t border-gray-200 dark:border-gray-600 flex flex-col xs:flex-row items-center xs:justify-between">
                    <span class="text-xs xs:text-sm text-gray-900 dark:text-gray-300">
                        Showing 1 to 4 of 50 Entries
                    </span>
                    <div class="inline-flex mt-2 xs:mt-0">
                        <button
                            class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l dark:hover:bg-indigo-700">
                            Prev
                        </button>
                        <button
                            class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r dark:hover:bg-indigo-700">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>